/* Start root variables */

:root {
    --primary: #017580;
    --secondary: #71a3a4;
    --success: #28A745;
    --info: #17A2B8;
    --warning: #FFC107;
    --danger: #DC3545;
    --light: #F8F9FA;
    --dark: #343A40;

}

/* End root variables */

/* Start button primary */

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

/* End button primary */

/* Start button outline primary */

.btn-outline-primary {
    color: var(--primary);
    border-color: var(--primary);
}

.btn-outline-primary:hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

/* End button outline primary */

/* Start logo */

.logo span {
    color: var(--dark);
}

/* End logo */

/* Start horizontal line */

hr {
    border-top: 1px solid var(--dark);
    width: 100%;
}

/* End horizontal line */

/* Start nav pills */

.nav-link {
    color: var(--dark);
}

.nav-link:focus, .nav-link:hover {
    color: var(--primary);
}

.nav-pills .nav-link.active {
    background-color: var(--primary);
    color: var(--light);
}

/* End nav pills */

/* Start profile */

.profile-dropdown strong, .profile-dropdown::after {
    color: var(--dark);
}

/* End profile */

/* Start dark mode items */

[data-bs-theme="dark"] hr {
    border-top: 1px solid var(--light);
}

[data-bs-theme="dark"] .nav-link {
    color: var(--light);
}

[data-bs-theme="dark"] .profile-dropdown strong, [data-bs-theme="dark"] .profile-dropdown::after {
    color: var(--light);
}

[data-bs-theme="dark"] .logo span {
    color: var(--light);
}

/* End dark mode items */
